[Unit]
PartOf=pooltool_sendslots_daily_check.service

[Timer]
OnCalendar=*-*-* 01:00:00

[Unit]
After=network.target
Description=pooltool_sendslots_daily_check

[Service]

CapabilityBoundingSet="~CAP_SYS_PTRACE", "~CAP_SYS_ADMIN"
ExecStart=/some_path/getAndSendSlots2Pooltool.sh
Group=root
IOSchedulingClass=best-effort
IOSchedulingPriority=0
IPAccounting=yes
IPAddressAllow=YOUR_SERVER_IP
LockPersonality=1
MemoryDenyWriteExecute=1
NoNewPrivileges=1
PrivateDevices=1
PrivateTmp=1
PrivateUsers=1
ProtectControlGroups=1
ProtectHostname=1
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
ReadWritePaths=/some_path/pooltool /var/lib/prometheus-node-exporter-text-files
RemainAfterExit=no
RemoveIPC=yes
Restart=no
RestrictNamespaces=1
RestrictRealtime=1
RestrictSUIDSGID=1
SystemCallArchitectures=native
Type=simple
User=root
WorkingDirectory=/some_path/pooltool
